


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.btn, btn, input[type="submit"], input[type="reset"], input[type="button"] 
{
	display: flex;
	height: 38px;
	padding: 0 30px;
	color: #555;
	text-align: center;
	font-size: 13px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 5px;
	border: 1.5px solid #bbb;
	clip-path: polygon( 
    calc(0% + 0px) calc(0% + 0px), /* top left */
    calc(100% - 0px) calc(0% + 0px), /* top right */
    calc(100% - 0px) calc(100% - 0px), /* bottom right */
    calc(0% + 0px) calc(100% - 0px) /* bottom left */
  );
	cursor: pointer;
	box-sizing: border-box; 
	transition: all 0.5s;
	font-family: 'Roboto Mono', monospace;
	
}
.btn:hover, btn:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .btn:focus, btn:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus 
{
    color: #333;
    border-color: #888;
    outline: 0; 
}
.btn-flat
{
	display: flex;
	height: 38px;
	padding: 0 30px;
	color: #555;
	text-align: center;
	font-size: 13px;
	font-weight: 600;
	line-height: 41.8px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 5px;
	border: 0px;
	cursor: pointer;
	box-sizing: border-box; 
	transition: all 0.6s;
	font-family: 'Roboto Mono', monospace;
}
.btn-flat:hover
{
    color: #333; 
    outline: 0; 
	background-color: #eeeeee;
}
.red
{
	background-color: red;
}
.btn:active { 
    border-color: #039be5;
	background-color: #fafafa;
}
/*FONTS*/
.mono {
	font-family: 'Roboto Mono', monospace;
}
.montserrat {
	font-family: 'Montserrat', sans-serif;
}
/*COLORS*/

/*CENTERING*/
.center {
  display: flex;
  justify-content: center;
}
.center-text {
	text-align: center;
}
	
